<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.FlashSaleProductMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.FlashSaleProduct">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="flash_sale_id" jdbcType="INTEGER" property="flashSaleId"/>
            <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>

    <select id="getDetailByProductId" resultType="com.langchao.waveservicemall.pojo.dto.FlashSaleProductDTO">
        SELECT
            flash_sale_product.id ,
            flash_sale_product.price,
            flash_sale.end_time endTime
        FROM
            flash_sale_product,
            flash_sale
        WHERE
            flash_sale_product.flash_sale_id = flash_sale.id
            AND flash_sale.flag = 1
            AND flash_sale.end_time > NOW()
            AND flash_sale_product.product_id = #{productId}
    </select>

    <select id="list" resultType="com.langchao.waveservicemall.pojo.vo.FlashSaleVo">
        SELECT
            flash_sale.flag flag,
            flash_sale.start_time startTime,
            flash_sale.end_time endTime,
            flash_sale_product.price flashSalePrice,
            flash_sale_product.product_id productId,
            flash_sale_product.id flashSaleProductId,
            product_info.product_name productName,
            product_info.product_icon productIcon
        FROM
            flash_sale,
            flash_sale_product,
            product_info
        WHERE
            flash_sale_product.flash_sale_id = flash_sale.id
            AND flash_sale_product.product_id = product_info.id
        <if test="flashSaleId != null">
            and flash_sale.id = #{flashSaleId}
        </if>
        <if test="flag != null">
            and flash_sale.flag = #{flag}
        </if>
        <if test="startTime != null">
            and flash_sale.start_time > #{startTime}
        </if>
        <if test="endTime != null">
            and #{endTime} > flash_sale.end_time
        </if>
        <if test="productName != null and productName != ''">
            and product_info.product_name like concat('%',#{productName},'%')
        </if>
    </select>
    <delete id="deleteByProductSkuIds">
        delete from flash_sale_product where id in
        <foreach collection="flashSaleProductIds" open="(" separator="," close=")" item="id" index="i">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByFlashSaleIds">
        delete from flash_sale_product where flash_sale_id  IN
        <foreach collection="flashSaleIds" open="(" separator="," close=")" item="flashSaleId" index="i">
            #{flashSaleId}
        </foreach>
    </delete>


    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>