<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.GroupSaleProductSkuMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.GroupSaleProductSku">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="group_sale_id" jdbcType="INTEGER" property="groupSaleId"/>
            <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId"/>
            <result column="group_sale_product_id" jdbcType="INTEGER" property="groupSaleProductId"/>
            <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>
    <delete id="deleteByProductSkuIds">
        delete from group_sale_product_sku where id in
        <foreach collection="groupSaleProductIds" open="(" separator="," close=")" item="id" index="i">
            #{id}
        </foreach>
    </delete>
    <select id="list" resultMap="listResultMap">
        SELECT
        product_sku.id productSkuId,
        product_info.id productId,
        product_info.product_name productName,
        product_info.product_icon productIcon,
        group_sale_product_sku.price groupSalePrice,
        group_sale_product_sku.id groupSaleProductSkuId,
        product_sku.stock,
        column_nature.nature_name,
        nature_value.value_desc
        FROM
        group_sale_product_sku,
        product_sku,
        product_info,
        product_sku_nature,
        column_nature,
        nature_value
        WHERE
        group_sale_product_sku.product_sku_id = product_sku.id
        AND product_sku.product_id = product_info.id
        AND group_sale_product_sku.product_sku_id = product_sku_nature.product_sku_id
        AND product_sku_nature.nature_value_id = nature_value.id
        AND product_sku_nature.column_nature_id = column_nature_id
        AND column_nature.id = nature_value.nature_id
        <if test="groupSaleProductId != null ">
            and group_sale_product_sku.group_sale_product_id = #{groupSaleProductId}
        </if>
    </select>
    <resultMap id="listResultMap" type="com.langchao.waveservicemall.pojo.vo.GroupSaleProductSkuVo">
        <id column="groupSaleProductSkuId" property="groupSaleProductSkuId"/>
        <result column="productSkuId" property="productSkuId"/>
        <result column="productName" property="productName"/>
        <result column="productIcon" property="productIcon"/>
        <result column="stock" property="stock"/>
        <result column="productId" property="productId"/>
        <result column="groupSalePrice" property="groupSalePrice"/>
        <collection property="natureName" ofType="java.lang.String">
            <result column="nature_name" />
        </collection>
        <collection property="natureValueName" ofType="java.lang.String">
            <result column="value_desc" />
        </collection>
    </resultMap>
    <select id="selectByGroupSaleIds" resultMap="BaseResultMap">
        select * from group_sale_product_sku where group_sale_id IN
        <foreach collection="groupSaleIds" index="i" item="groupSaleId" open="(" separator="," close=")" >
            #{groupSaleId}
        </foreach>
    </select>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>