<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.GroupInfoMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.GroupInfo">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="group_number" jdbcType="INTEGER" property="groupNumber"/>
            <result column="group_sale_id" jdbcType="INTEGER" property="groupSaleId"/>
            <result column="club_id" jdbcType="INTEGER" property="clubId"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="group_people" jdbcType="INTEGER" property="groupPeople"/>
            <result column="people" jdbcType="INTEGER" property="people"/>
            <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
            <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <select id="listGetClubGroupByproductId" resultType="com.langchao.waveservicemall.pojo.dto.GroupInfoDTO">
        SELECT
            group_info.group_number groupNumber,
            group_info.club_id clubId,
            club_info.club_name clubName,
            club_info.club_icon clubIcon,
            group_sale.end_time endTime,
            group_sale_product.group_people clubGroupPeople,
            group_sale_product.total_people clubTotalPeople
        FROM
            group_info,
            club_info,
            group_sale,
            group_sale_product
        WHERE
            group_info.club_id = club_info.id
            AND group_info.group_sale_id = group_sale.id
            AND group_info.type = 0
            AND group_sale.end_time > NOW()
            AND group_sale_product.product_id = group_info.id
            AND group_sale_product.group_sale_id = group_sale.id
        <if test="productId != null">
            AND group_info.product_id = #{productId}
        </if>
    </select>

    <select id="groupClubByGroupNumber" resultMap="groupClubByGroupNumberResultMap">
        SELECT
            group_info.id id,
            group_info.group_number groupNumber,
            group_info.club_id clubId,
            club_info.club_name clubName,
            club_info.club_icon clubIcon,
            group_sale.end_time endTime,
            group_sale_product.group_people clubGroupPeople,
            group_sale_product.total_people clubTotalPeople,
            group_info_detail.user_id userId,
            user_info.user_img userImg,
            product_info.id productInfoId,
            product_info.id productName,
            product_info.product_sale_price productSalePrice
        FROM
            group_info,
            group_info_detail,
            club_info,
            group_sale,
            group_sale_product,
            user_info,
            product_info
        WHERE
            group_info.club_id = club_info.id
            AND group_info.group_sale_id = group_sale.id
            AND group_info.id = group_info_detail.group_info_id
            AND group_info.club_id = club_info.id
            AND group_info_detail.user_id = user_info.id
            AND group_info.type = 0
            AND group_sale_product.product_id = group_info.id
            AND group_sale_product.group_sale_id = group_sale.id
            AND group_info.product_id = product_info.id
            <if test="groupNumber != null">
                AND group_info.group_number = #{groupNumber}
            </if>
    </select>
    <resultMap id="groupClubByGroupNumberResultMap" type="com.langchao.waveservicemall.pojo.dto.GroupInfoDTO">
        <id column="id" property="id"/>
        <result column="groupNumber" property="groupNumber"/>
        <result column="productInfoId" property="productInfoId"/>
        <result column="productName" property="productName"/>
        <result column="clubId" jdbcType="INTEGER" property="clubId"/>
        <result column="clubName" jdbcType="INTEGER" property="clubName"/>
        <result column="clubIcon" jdbcType="INTEGER" property="clubIcon"/>
        <result column="endTime" jdbcType="INTEGER" property="endTime"/>
        <result column="clubGroupPeople" jdbcType="INTEGER" property="clubGroupPeople"/>
        <result column="clubTotalPeople" jdbcType="INTEGER" property="clubTotalPeople"/>
        <collection property="userInfoList" ofType="com.langchao.waveservicemall.pojo.UserInfo">
            <id column="userId" property="id"/>
            <result column="userImg" property="userImg"/>
        </collection>
    </resultMap>

    <select id="groupShare" resultMap="groupShareResultMap">
        SELECT
            group_info.id id,
            group_info.group_number groupNumber,
            group_info.club_id clubId,
            club_info.club_name clubName,
            club_info.club_icon clubIcon,
            group_sale.end_time endTime,
            group_sale_product.group_people clubGroupPeople,
            group_sale_product.total_people clubTotalPeople,
            group_info_detail.user_id userId,
            user_info.user_img userImg,
            user_info.user_name userName,
            product_info.id productInfoId,
            product_info.id productName
        FROM
            group_info,
            group_info_detail,
            club_info,
            group_sale,
            group_sale_product,
            user_info,
            product_info
        WHERE
            group_info.club_id = club_info.id
            AND group_info.group_sale_id = group_sale.id
            AND group_info.id = group_info_detail.group_info_id
            AND group_info.club_id = club_info.id
            AND group_info_detail.user_id = user_info.id
            AND group_info.type = 0
            AND group_sale_product.product_id = group_info.id
            AND group_sale_product.group_sale_id = group_sale.id
            AND group_info.product_id = product_info.id
            <if test="groupNumber != null">
                AND group_info.group_number = #{groupNumber}
            </if>
            <if test="userId != null">
                AND user_info.id = #{userId}
            </if>
    </select>
    <resultMap id="groupShareResultMap" type="com.langchao.waveservicemall.pojo.dto.GroupInfoDTO">
        <id column="id" property="id"/>
        <result column="groupNumber" property="groupNumber"/>
        <result column="productInfoId" property="productInfoId"/>
        <result column="productName" property="productName"/>
        <result column="clubId" jdbcType="INTEGER" property="clubId"/>
        <result column="clubName" jdbcType="INTEGER" property="clubName"/>
        <result column="clubIcon" jdbcType="INTEGER" property="clubIcon"/>
        <result column="endTime" jdbcType="INTEGER" property="endTime"/>
        <result column="clubGroupPeople" jdbcType="INTEGER" property="clubGroupPeople"/>
        <result column="clubTotalPeople" jdbcType="INTEGER" property="clubTotalPeople"/>
        <collection property="userInfoList" ofType="com.langchao.waveservicemall.pojo.UserInfo">
            <id column="userId" property="id"/>
            <result column="userName" property="userName"/>
            <result column="userImg" property="userImg"/>
        </collection>
    </resultMap>
    <select id="sumGroupSaleNumberByProductId" resultType="java.lang.Integer">
        SELECT  SUM(total_people) FROM group_sale_product WHERE product_id = #{productInfoId}
    </select>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>