<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.NatureValueMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.NatureValue">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nature_id" jdbcType="INTEGER" property="natureId"/>
        <result column="value_desc" jdbcType="VARCHAR" property="valueDesc"/>
    </resultMap>
    <resultMap id="BaseResultDtoMap" type="com.langchao.waveservicemall.pojo.dto.NatureValueDTO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nature_id" jdbcType="INTEGER" property="natureId"/>
        <result column="value_desc" jdbcType="VARCHAR" property="valueDesc"/>
    </resultMap>

    <select id="findManagerList" resultMap="BaseResultDtoMap">
        SELECT * FROM nature_value
        <where>
            <if test="id != null">
                AND nature_id = #{id}
            </if>
        </where>
    </select>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>