<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.ProductSkuMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.ProductSku">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_price" jdbcType="DOUBLE" property="productPrice"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="vip_price" jdbcType="DOUBLE" property="vipPrice"/>
        <result column="club_charge_price" jdbcType="DECIMAL" property="clubChargePrice"/>
        <result column="percentage" jdbcType="INTEGER" property="percentage"/>
    </resultMap>
    <resultMap id="BaseResultDtoMap" type="com.langchao.waveservicemall.pojo.dto.ProductSkuDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_price" jdbcType="DOUBLE" property="productPrice"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="vip_price" jdbcType="DOUBLE" property="vipPrice"/>
        <result column="club_charge_price" jdbcType="DECIMAL" property="clubChargePrice"/>
        <result column="percentage" jdbcType="INTEGER" property="percentage"/>
        <association property="productSkuNature" javaType="com.langchao.waveservicemall.pojo.ProductSkuNature">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId"/>
            <result column="column_nature_id" jdbcType="INTEGER" property="columnNatureId"/>
            <result column="nature_value_id" jdbcType="INTEGER" property="natureValueId"/>
        </association>
    </resultMap>


    <update id="updateStock">
        update product_sku set stock = stock - #{productNum} where id = #{productSkuId}
    </update>

    <select id="countByproductId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product_sku WHERE product_id = #{productId}
    </select>

    <update id="updateByStock">
        update product_sku set stock = stock + #{stock} where product_id = #{productId}
    </update>

    <update id="updateById">
        update product_sku set stock = stock + #{stock} where id = #{id}
    </update>

    <select id="findManagerList" resultMap="BaseResultDtoMap">
        SELECT ps.*,psn.* FROM product_sku ps
        LEFT JOIN product_sku_nature psn ON psn.product_sku_id = ps.id
       WHERE product_id = #{productId}
    </select>

    <select id="findByProductId" resultMap="BaseResultDtoMap">
        SELECT * FROM product_sku WHERE product_id = #{productId}
    </select>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->


</mapper>