<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.ProductSkuNatureMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.ProductSkuNature">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId"/>
        <result column="column_nature_id" jdbcType="INTEGER" property="columnNatureId"/>
        <result column="nature_value_id" jdbcType="INTEGER" property="natureValueId"/>
    </resultMap>

    <select id="selectProductNormByProductId" resultMap="selectProductNormByProductIdResultMap">
        SELECT
            t_view.natureId natureId,
            t_view.natureName natureName,
            t_view.natureValueId natureValueId,
            t_view.natureId natureId,
            nature_value.value_desc valueDesc
        FROM
            (
            SELECT
                column_nature.id natureId,
                column_nature.nature_name natureName,
                product_sku_nature.nature_value_id natureValueId
            FROM
                product_sku,
                product_sku_nature,
                column_nature
            WHERE
                product_sku.product_id = #{productId}
                AND column_nature.id = product_sku_nature.column_nature_id
                AND product_sku_nature.product_sku_id = product_sku.id
            ) AS t_view
            LEFT JOIN nature_value ON t_view.natureValueId = nature_value.id
    </select>
    <resultMap id="selectProductNormByProductIdResultMap" type="com.langchao.waveservicemall.pojo.dto.ColumnNatureDTO">
        <id column="natureId" property="id"/>
        <result column="natureName" property="natureName"/>
        <collection property="natureValueList" ofType="com.langchao.waveservicemall.pojo.dto.NatureValueDTO">
            <id column="natureValueId" property="id"/>
            <result column="natureId" property="natureId"/>
            <result column="valueDesc" property="valueDesc"/>
        </collection>
    </resultMap>

    <select id="selectIdByProductIdAndNatureIdAndNatureValueId" resultType="com.langchao.waveservicemall.pojo.ProductSku">
        SELECT
        product_sku.id id,product_sku.product_id productId,product_sku.stock stock
        FROM
        product_sku,
        product_sku_nature
        WHERE
        product_sku.id = product_sku_nature.product_sku_id
        AND product_sku.product_id = #{productId}
        AND product_sku_nature.column_nature_id IN
        <foreach collection="natureIds" index="i" item="natureId" open="(" separator="," close=")">
            #{natureId}
        </foreach>
        AND product_sku_nature.nature_value_id IN
        <foreach collection="natureValueIds" index="i" item="natureValueId" open="(" separator="," close=")">
            #{natureValueId}
        </foreach>
    </select>

    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->

    <resultMap id="BaseResultDtoMap" type="com.langchao.waveservicemall.pojo.dto.ProductSkuNatureDTO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId"/>
        <result column="column_nature_id" jdbcType="INTEGER" property="columnNatureId"/>
        <result column="nature_value_id" jdbcType="INTEGER" property="natureValueId"/>
    </resultMap>
    <select id="findManagerList" resultMap="BaseResultDtoMap">
        SELECT * FROM product_sku_nature
        <where>
            <if test="id != null">
                AND product_sku_id = #{id}
            </if>
        </where>
    </select>

    <select id="CountByValueId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product_sku_nature WHERE product_sku_id = #{productSkuId} AND column_nature_id = #{columnNatureId} AND nature_value_id = #{natureValueId}
    </select>

    <select id="findByProductSkuId" resultMap="BaseResultDtoMap">
        SELECT * FROM product_sku_nature WHERE product_sku_id =#{productSkuId}
    </select>

    <select id="findByIds" resultMap="BaseResultMap">
        select * FROM product_sku_nature
        <where>
            <if test="productSkuId != null">
                AND product_sku_id = #{productSkuId}
            </if>
            <if test="columnNatureId != null">
                AND column_nature_id = #{columnNatureId}
            </if>
            <if test="natureValueId != null">
                AND nature_value_id = #{natureValueId}
            </if>
        </where>
    </select>
    <select id="listGetNatureToChoose" resultMap="listGetNatureToChooseResultMap">
        SELECT
            column_nature.id id,
            column_nature.nature_name natureName,
            nature_value.id natureValueId,
            nature_value.value_desc valueDesc
        FROM
            product_sku,
            product_sku_nature,
            column_nature,
            nature_value
        WHERE
            product_sku.product_id = #{productId}
            AND product_sku.id = product_sku_nature.product_sku_id
            AND column_nature.id = nature_value.nature_id
            AND product_sku_nature.column_nature_id = column_nature.id
            AND product_sku_nature.nature_value_id = nature_value.id
        ORDER BY
            column_nature.id
    </select>
    <resultMap id="listGetNatureToChooseResultMap" type="com.langchao.waveservicemall.pojo.dto.ColumnNatureDTO">
        <id column="id" property="id"/>
        <result column="natureName" property="natureName"/>
        <collection property="natureValueList" ofType="com.langchao.waveservicemall.pojo.NatureValue">
            <id column="natureValueId" property="id"/>
            <result column="valueDesc" property="valueDesc"/>
        </collection>
    </resultMap>
    <select id="findByProductSkuIdList" resultMap="BaseResultMap">
        SELECT * FROM product_sku_nature WHERE product_sku_id in
        <foreach collection="productSkuIds" index="i" item="productSkuId" open="(" separator="," close=")">
            #{productSkuId}
        </foreach>
    </select>
</mapper>