<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langchao.waveservicemall.mapper.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.langchao.waveservicemall.pojo.ProductInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_icon" jdbcType="VARCHAR" property="productIcon"/>
        <result column="product_img" jdbcType="VARCHAR" property="productImg"/>
        <result column="product_old_price" jdbcType="DOUBLE" property="productOldPrice"/>
        <result column="product_sale_price" jdbcType="DOUBLE" property="productSalePrice"/>
        <result column="product_score" jdbcType="INTEGER" property="productScore"/>
        <result column="product_desc" jdbcType="LONGVARCHAR" property="productDesc"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="product_colum_id" jdbcType="INTEGER" property="productColumId"/>
        <result column="vip_price" jdbcType="DOUBLE" property="vipPrice"/>
        <result column="club_charge_price" jdbcType="DECIMAL" property="clubChargePrice"/>
        <result column="percentage" jdbcType="INTEGER" property="percentage"/>
        <result column="cost_goods" jdbcType="INTEGER" property="costGoods"/>
        <result column="sale_num" jdbcType="INTEGER" property="saleNum"/>
        <result column="order_val" jdbcType="INTEGER" property="orderVal"/>
        <result column="push_time" jdbcType="TIMESTAMP" property="pushTime"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="product_tag" jdbcType="LONGVARCHAR" property="productTag"/>
    </resultMap>

    <resultMap id="BaseResultDtoMap" type="com.langchao.waveservicemall.pojo.dto.ProductInfoDTO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_icon" jdbcType="VARCHAR" property="productIcon"/>
        <result column="product_img" jdbcType="VARCHAR" property="productImg"/>
        <result column="product_old_price" jdbcType="DOUBLE" property="productOldPrice"/>
        <result column="product_sale_price" jdbcType="DOUBLE" property="productSalePrice"/>
        <result column="product_score" jdbcType="INTEGER" property="productScore"/>
        <result column="product_desc" jdbcType="LONGVARCHAR" property="productDesc"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="product_colum_id" jdbcType="INTEGER" property="productColumId"/>
        <result column="vip_price" jdbcType="DOUBLE" property="vipPrice"/>
        <result column="club_charge_price" jdbcType="DECIMAL" property="clubChargePrice"/>
        <result column="percentage" jdbcType="INTEGER" property="percentage"/>
        <result column="cost_goods" jdbcType="INTEGER" property="costGoods"/>
        <result column="sale_num" jdbcType="INTEGER" property="saleNum"/>
        <result column="order_val" jdbcType="INTEGER" property="orderVal"/>
        <result column="push_time" jdbcType="TIMESTAMP" property="pushTime"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="product_tag" jdbcType="VARCHAR" property="productTag"/>
    </resultMap>
    <resultMap id="ParamInfotMap" type="com.langchao.waveservicemall.pojo.ParamInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="param_name" jdbcType="VARCHAR" property="paramName"/>
        <result column="club_explain" jdbcType="VARCHAR" property="clubExplain"/>
        <result column="param_val" jdbcType="LONGVARCHAR" property="paramVal"/>
    </resultMap>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->

    <!--  后台list  -->
    <select id="findManagerList" resultMap="BaseResultDtoMap">
        SELECT * FROM product_info pi
        LEFT JOIN product_column pc ON pc.id = pi.product_colum_id
        <where>
            <if test="columnName != null and columnName != ''">
                AND pc.id = #{columnName}
            </if>
            <if test="productName != null and productName != ''">
                AND pi.product_name LIKE CONCAT('%',#{productName},'%')
            </if>
            <if test="type != null">
                AND pi.type = #{type}
            </if>
        </where>
    </select>
    <!--  后台  -->
    <select id="findManagerById" resultMap="BaseResultDtoMap">
        SELECT * FROM product_info WHERE id = #{id}
    </select>



    <select id="getCollectListByUserId" resultMap="BaseResultMap">
            select i.* from product_info i,product_collect c where c.product_id=i.id
            and c.user_id=#{userId} order by addtime desc
        </select>


    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM product_info
        <where>
            type = 1
            <if test="productName != null and productName != ''">
                AND productName LIKE CANCAT('%',#{productName},'%')
            </if>
            <if test="isCostGoods != null">
                AND costGoods = #{isCostGoods}
            </if>
        </where>
        ORDER BY
        <if test="orderByType == 1">
            productSalePrice
        </if>
        <if test="orderByType == 2">
            percentage
        </if>
        <if test="descType == 1">
            DESC
        </if>
        <if test="descType == 2">
            ASC
        </if>
    </select>

    <select id="judgeProductGroupType" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            group_sale_product,
            group_sale
        WHERE
            group_sale_product.group_sale_id = group_sale.id
            AND group_sale.flag = 1
            AND group_sale_product.product_id = #{productInfoId}
            AND NOW() BETWEEN group_sale.start_time AND group_sale.end_time
    </select>

    <select id="listGetAllGroupSaleIds" resultType="java.lang.Integer">
        SELECT
            group_sale_product.product_id
        FROM
            group_sale_product,
            group_sale
        WHERE
            group_sale_product.group_sale_id = group_sale.id
            AND group_sale.flag = 1
            AND group_sale_product.super_type = #{superType}
            AND NOW() BETWEEN group_sale.start_time AND group_sale.end_time
    </select>

    <select id="listGetProductsByIds" resultMap="BaseResultMap">
        SELECT * FROM product_info WHERE id in
        <foreach collection="idslist" index="i" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="groupColumn == '' ">
            order by order_val
        </if>
        <if test="groupColumn !='' ">
            order by #{groupColumn}
        </if>
        <if test="groupEsc !='' ">
            #{groupEsc}
        </if>
    </select>
    <update id="updateSaleNum">
            update product set sale_num = sale_num + #{productNum} where product.id = #{productId}
    </update>
    <select id="judgeProductFlashType" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            flash_sale_product,
            flash_sale
        WHERE
            flash_sale_product.flash_sale_id = flash_sale.id
            AND flash_sale.flag = 1
            AND flash_sale_product.product_id = #{productInfoId}
            AND NOW() BETWEEN flash_sale.start_time AND flash_sale.end_time
    </select>
    <select id="getAllFlashSaleProduct" resultMap="BaseResultDtoMap">
            SELECT
	     pi.*,fsp.price as flashSalePrice
        FROM
	     flash_sale_product fsp
	    inner JOIN product_info pi
	        ON pi.id = fsp.product_id
        WHERE
	        flash_sale_id = #{flashSaleId}
    </select>
    <select id="getProductsByKeywords" resultMap="BaseResultMap">
                SELECT
            *
        FROM
            product_info
        WHERE
            CONCAT(product_name, product_desc, product_tag ) LIKE CONCAT(
                '%',
            #{keywords},
            '%')
        ORDER BY order_val desc
    </select>



    <!--根据分类id查询产品数量-->
    <select id="findCountByColumnId" resultType="java.lang.Integer">
        select count(*) from product_info where product_colum_id=#{columnId}
    </select>


    <select id="getHotSearchKeywords" resultMap="ParamInfotMap">
        <!--查询所有热搜关键字-->
        select * FROM param_info where param_name = 'hotSearch'
    </select>


    <update id="updateByVal">
        UPDATE product_info SET order_val = #{orderVal} WHERE id = #{id}
    </update>

    <update id="updateType">
        UPDATE product_info SET `type` = #{type} WHERE id = #{id}
    </update>
</mapper>