<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liyuan.wave.sms.mapper.SmsFlashSaleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.liyuan.wave.po.sms.SmsFlashSale" id="smsFlashSaleMap">
        <result property="id" column="id"/>
        <result property="flag" column="flag"/>
        <result property="note" column="note"/>
        <result property="message" column="message"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="del" column="del"/>
        <result property="createName" column="create_name"/>
        <result property="modifyName" column="modify_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>