<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liyuan.wave.sms.mapper.SmsFlashSaleProductMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.liyuan.wave.po.sms.SmsFlashSaleProduct" id="smsFlashSaleProductMap">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="flashSaleId" column="flash_sale_id"/>
        <result property="price" column="price"/>
        <result property="productCount" column="product_count"/>
        <result property="purchaseNumber" column="purchase_number"/>
        <result property="productSkuId" column="product_sku_id"/>
        <result property="del" column="del"/>
        <result property="createName" column="create_name"/>
        <result property="modifyName" column="modify_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>