<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genSqlFilePath" value="$PROJECT_DIR$/wave-service-mall/src/main/java/com/langchao/waveservicemall/sql" />
      </ProjectProfile>
    </option>
  </component>
</project>